<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CE EPNM Provisioing">


<!-- <listeners>
		<listener class-name="com.crm.qa.ExtentReportListener.ExtentReportListener" />
	</listeners> -->
	
	
 	<test name="CE EPNM Provisioing test cases">
 	<classes>
		<class name="epnm.CE.Provisioning.test.Epnm_Loginpage_Test"/>
	</classes>
	</test>
</suite>